.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  background: #221F1F;
  z-index: 999;
}

.loading-inner {
  width: 100%;
  height: 100svh;
}

.loading-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 414px;
  height: 335px;
}

.loading-logo-left {
  position: absolute;
  top: -14%;
  left: 20%;
  display: block;
  width: 60.3%;
  aspect-ratio: 250/288;
}

.loading-logo-right {
  position: absolute;
  bottom: -14.6%;
  left: auto;
  right: 19.7%;
  display: block;
  width: 60.3%;
  aspect-ratio: 250/288;
}

.loading-logo-text {
  position: absolute;
  top: auto;
  bottom: -14.5%;
  left: 50.8%;
  transform: translate(-50%, 0);
  display: block;
  opacity: 0;
  width: 78%;
  aspect-ratio: 324 / 67;
}

@media (max-width: 767px) {
  .loading-logo-container {
    aspect-ratio: 414/335;
    max-width: 325px;
    width: 60%;
    height: auto;
  }
}


.loading-logo-left.is-action {
  animation: action-left 1.2s cubic-bezier(0.66, 0.01, 0.02, 1) forwards;
}
.loading-logo-right.is-action {
  animation: action-right 1.2s cubic-bezier(0.66, 0.01, 0.02, 1) forwards;

}
.loading-logo-text.is-action {
  animation: action-text 0.5s ease forwards;
}
.loading.is-loaded {
  animation: action-loaded 1s ease forwards;
}

@keyframes action-left {
  0% {
    left: 20%;
    top: -14%;
  }
  100% {
    left: 0%;
    top: -14.4%;
  }
}
@keyframes action-right {
  0% {
    right: 19.7%;
    bottom: -14.7%;
  }
  100% {
    right: -0.6%;
    bottom: 14.1%;
  }
}
@keyframes action-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes action-loaded {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}